:root {
  --color-white: #fff;
  --color-light: #f5f4f0;
  --color-dark-50: #908d8b;
  --color-dark: #2a2626;
  --color-brown: #b09a81;
  --color-primary: #fe8a02;
  --color-primary-hover: #ea7600;
  --color-primary-dark: #42413c;
  --color-white-50: #d7ccc0;
}
