@import url('colors.css');

@font-face {
  font-family: 'Neucha';
  src: url('../fonts/Neucha-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 16px/1.6em 'Open Sans', sans-serif;

  /* font-size: 16px; */

  /* line-height: 1.6em; */
  color: var(--color-dark);
  background: green;
}

li {
  list-style: none;
}

.bg-white {
  background: var(--color-white);
}

.bg-light {
  background: var(--color-light);
}

.bg-primary-dark {
  background: var(--color-primary-dark);
}

.bg-brown {
  background: var(--color-brown);
}

.bg-primary {
  background: var(--color-primary);
}

.color-primary {
  color: var(--color-primary);
}

.color-dark-50 {
  color: var(--color-dark-50);
}

.color-white-50 {
  color: var(--color-white-50);
}

.color-white {
  color: var(--color-white);
}

.color-brown {
  color: var(--color-brown);
}

h1,
h2,
h3,
h4,
.h3,
.h4 {
  margin: 0;
  font-family: 'Neucha', cursive;
  font-weight: normal;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
  position: relative;
  z-index: 10;
}

h2 {
  font-size: 60px;
}

h3, .h3 {
  font-size: 34px;
}

h4, .h4 {
  font-size: 24px;
}

h5 {
  font-size: 14px;
  margin-top: 100px;
  padding: 5px 10px;
  margin-bottom: 4px;
  line-height: 1.2em;
}

.content {
  position: relative;
  max-width: 1110px;
  padding: 100px 0;
  margin: auto;
  z-index: 10;
}

.bg-image::before {
  position: absolute;
  content: "";
  height: 100%;
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  background: url('../images/background.png') top center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.1;
}

.main-pic {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.display-flex {
  display: flex;
}

.flex-column-center {
  flex-direction: column;
  align-items: center;
}

.flex-basis50 {
  flex-basis: 50%;
}

.flex-basis30 {
  flex-basis: 30%;
}

.mt-180 {
  margin-top: 180px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 24px;
  font-weight: bold;
  text-decoration: none;
}

.btn:hover {
  background: var(--color-primary-hover);
}

.text-uppercase {
  text-transform: uppercase;
}

.ma {
  margin: auto;
}

.ta-center {
  text-align: center;
}

.drop-shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.video {
  position: absolute;
  top: 310px;
}

#video > .content {
  padding-bottom: 479px;
}

#navigation > .content {
  padding-top: 180px;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-item {
  width: 350px;
  margin-top: 20px;
}

.nav-header {
  font-size: 52px;
}

.nav-card {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--color-dark);
  padding: 24px;
}

.card-number {
  display: block;
  font-family: 'Neucha', cursive;
  font-size: 64px;
  line-height: 1em;
  color: var(--color-primary-dark);
  margin-bottom: 40px;
}

.card-header {
  display: block;
  font-family: 'Neucha', cursive;
  font-size: 34px;
  line-height: 1.2em;
  color: var(--color-primary);
  margin-bottom: 16px;
}

.nav-card:hover {
  background: var(--color-primary);
}

.nav-card:hover * {
  color: var(--color-white);
}

.mt-30 {
  margin-top: 30px;
}

.p55 {
  padding: 55px;
}
